.Home {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 10rem;
}
.Home-body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
}
.Dropdowns-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 40px;
}
.Dropdown {
  margin: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .Dropdowns-container {
    flex-direction: column;
    align-items: center;
  }

  .Dropdown {
    margin: 0;
  }
}
